extends layout

block content
  h1= title
  p Welcome to LiveCode!
  div.registerFormWrapper
    button.openRegisterForm= "Sign Up!" 
    .registerForm(style="display:none;")
      input.username(placeholder='Username')
      input.firstname(placeholder='First name')
      input.lastname(placeholder='Last name')
      input.email(placeholder='Email')
      input.password(type='password' placeholder='Password')
      input.passwordCheck(type='password' placeholder='Password confirmation')
      button.register= "Register!"
    script(src="/javascripts/index.js")

  div.loginFormWrapper
    button.openLoginForm= "Log In!" 
    .loginForm(style="display:none;")
      input.loginUsername(placeholder='Username')
      input.loginPassword(type='password' placeholder='Password')
      button.login= "Login!"