extends layout

block content

  #editor= content

  .commentBar
    .comment.commentTemplate
        p.commentMeta
          ="Line "
          span.line
          =" by "
          span.username
        p.content
    .comments
      
    .commentForm
      input.commentLine(type="number" placeholder='Line number')
      textarea.commentContent(placeholder='Your comment here')
      button.submitComment= "Add comment"
      button.hideComments= "cancel"

  .sidebar
    ul.editorList
      label="Editors"
      each user in editors
        li= user.username
          a.removeUser(data-user-id=user.id)="x"
    ul.documentButtons
      li.findUsers
        input.userSearch(type="text" placeholder="Add an editor!")
        ul.foundUsers
      li
        label="Language"
        select.u-full-width
          option(value="Option 1")="JavaScript"
          option(value="Option 2")="Ruby"
          option(value="Option 3")="Python"
      li
        button.u-full-width.save="Save document"
        button.u-full-width.showComments= "Show comments"


  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="/plugins/ace-builds-master/src/ace.js")
  script(src="/javascripts/livecode.js")