extends layout
block content

  a.button(href="/livecode/new")= "New Document"
  table.u-full-width
    thead
      th= "Name"
      th= "Owner"
      th= "Language"
      th= "Date Created"
      th= "Last Updated"
      th= ""
    tbody
      each val in docs
        tr.document(data-live-code=val.id)
          td
            p.documentTitle(contentEditable="true")= val.name
          td
            p.documentOwnerId= val.owned_id
          td
            p.documentLanguage= val.language
          td
            p.documentCreatedAt= val.createdAt
          td
            p.documentUpdatedAt= val.updatedAt
          td
              button.viewDoc(data-live-code=val.id)= "LiveCode"
        tr.hidden
          td="aaaaaa"
          
  script(src="/javascripts/profile.js")

